.card-buffer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
}

.card {
  margin-bottom: 0;
}

.from,
.to {
  font-size: 3rem;
  display: inline-block;
  font-weight: 600;
  padding-top: 1rem;
  padding-left: 2rem;
}

.card > span {
  font-size: 3rem;
  padding-left: 2rem;
}

.date,
.flight-code {
  font-size: 2rem;
  padding-left: 2rem;
  padding-top: 1rem;
  display: inline-block;
}

.flight-code {
  font-size: 3rem;
  color: #5e60ce;
  font-weight: 500;
}

.payed-on {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.payment-company {
  padding-left: 1rem;
  font-size: 1.6rem;
}

.payment-from,
.payment-to {
  font-size: 1.6rem;
  padding-left: 1rem;
  padding-top: 1rem;
  display: inline-block;
  text-transform: capitalize;
}

.payment-price,
.payment-date {
  color: #5e60ce;
}

.not-logged-in {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-logged-in h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
}

.login-now {
  text-decoration: none;
  font-size: 2rem;
  padding: 2rem;
}
