*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box; 
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  background-color: #f5f6f7;
  position: relative;
}

.navbar{
  width: 10rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.navbar-links{
  height: 100%;
  width: 100%;
  list-style: none;
}

.nav-item, .profile{
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin: 4rem 0;
  outline: none;
  cursor: pointer;
  transition: 0.1s linear;
}

.nav-item:hover, .profile:hover {
  transform: scale(1.1);
}

.nav-link, .profile-link {
  color: #5E60CE;
}

.nav-identifier, .profile-identifier {
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 0.5rem;
}

#bg-plane-mirror {
  transform: rotateY(180deg);
  position: absolute;
  bottom: -20%;
  right: -12%;
}

.container{
    width: 100%;
    height: 100%;
}

.popup {
  position: absolute;
  left: 9rem;
  bottom: 3rem;
  width: 20rem;
  height: 9rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-item {
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid #E6ECF0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  cursor: pointer;
}

.popup-item:hover {
  background-color: #cae1f1;
}

.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: none;
    border-radius: 1rem;
    padding: 7rem 3rem 5rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-group{
    padding: 0 15%;
    padding-bottom: 0;
}

.search-label{
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 1.6rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.3s;
    color: rgba(0, 0, 0, .6);
}

.search-input{
  color: #000;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: #F3F3F4;
  border: none;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.search-input::placeholder{
  color: rgba(0, 0, 0, .6);
}

.search-input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, .6);
}

.search-input:placeholder-shown + .search-label{
  opacity: 0;
  visibility: hidden;
}

.circle {
  position: absolute;
  top: -4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 8rem;
  height: 8rem;
  font-size: 4rem;
  border: none;
  border-radius: 20rem;
  color: #5456d6;
}

.invert {
  font-size: 3rem;
  padding: 1rem;
  margin: 0.5rem;
  margin-bottom: 3rem;
  transform: rotate(90deg);
  color: #56CFE1;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  transition: 0.2s ease-in;
}

.invert:hover {
  background-color: #dcdee0;
}

#from, #to{
    /* margin-bottom: 2.5rem; */
    padding: 1.5rem;
    outline: none;
    font-size: 1.8rem;
    text-decoration: none;
    width: 26.5rem;
    border: 1px solid lightgray;
    color: #4b4b4b;
    font-weight: 600;
}

.search-button {
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #5E60CE;
  color: #fff;
  position: absolute;
  bottom: -2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: 0.1s linear;
}

.search-button:hover {
  transform: scale(1.1);
  background-color: #5456d6;
}

.plane-container {
  width: 200px;
  margin: 0px auto;
  z-index: 3;
}

.blinkOnce {
  animation: blinkOnce 0.5s;
}

@keyframes blinkOnce {
  0% {
    border: 1px solid lightgray;
  }

  100% {
    border: 1px solid dodgerblue;
  }
}



 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 60px;
}

/* ******************ANIMATIONS************************* */

/*Paper Plane: Animation*/
.plane-container {
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.plane {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;

  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
}
@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
